{{!< default}}

<main class="gh-main">
    <div class="gh-container">
        <section class="gh-404-error">
            <h1 class="gh-404-error-title">{{t "Lost in the Digital Wilderness: 404 Error"}}</h1>
            <p class="gh-404-error-description">
                {{t "Sorry, the page you visited does not exist."}}
            </p>
            <a class="gh-secondary-button gh-404-error-home-btn" href="{{@site.url}}" aria-label="{{t "Back to homepage link"}}">{{t "Back To Homepage"}}</a>
        </section>
    </div>
</main>